<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>用户测试2025</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="menu-mode">

    <h1 class="menu-title">选择测试类型</h1>

    <div class="menu-card-container">
        <a href="/test/recaptcha" class="gem-card style-google">
            <h3>Google reCAPTCHA v2</h3>
        </a>

<!--        <a href="/test/hcaptcha" class="gem-card style-hcaptcha">-->
<!--            <h3>hCaptcha</h3>-->
<!--        </a>-->

        <a href="/test/geetest/gobang" class="gem-card style-gobang">
            <h3>Geetest Gobang</h3>
        </a>

        <a href="/test/geetest/icon" class="gem-card style-icon">
            <h3>Geetest IconCrush</h3>
        </a>
    </div>

</body>
</html>